body {
    background-color: #DA0037;
}

a {
    text-decoration: none;
}

h1 {
    color: #444444;
}

p {
    color: #444444;
    font-size: 16px;
}

main {
    color:#444444;
}

h2 {
    color:#444444;
}

ul {
    color:#444444;
}

dl {
    color:#444444;
}